bokeh==0.12.10
gunicorn==19.7.1
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
lxml==4.6.3
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
numpy==1.13.3
pandas==0.20.3
pipenv==8.2.7
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.4
scipy==0.19.1
testpath==0.3.1
tornado==4.5.2
virtualenv==15.1.0
Werkzeug==0.12.2
whitenoise==3.3.1
