<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title if title else "Bokeh Plot" }}</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
      h1 {
          margin: 2em 0 0 0;
          color: #2e484c;
          font-family: 'Julius Sans One', sans-serif;
          font-size: 1.4em;
          text-transform: uppercase;
      }
      p {
          font: "Libre Baskerville", sans-serif;
          text-align: justify;
          text-justify: inter-word;
    </style>
  </head>
  <body>
    <div>
      <h1>Sine wave</h1>
      <p>This application allows a user to plot a sine wave and get the data created as a csv file.</p>
      <ul style="list-style-type:circle">
        <li>This application accepts various arguments to control the output of the scientific model.</li>
        <li>A <code>CustomJS</code> callback is used to export the output of the numerical model to csv. Click the "Download" button to export data to a CSV file.</li>
        <li>It is possible to extend the application through the use of different widgets which allows the user to interact with the application in different ways.</li>
      </ul>
      <p><b>NOTE</b>: On Safari the CSV will open in a new tab, rather than downloading.</p>
    </div>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
  </body>
</html>
